.menu{
 width:90%;
 background-color: #A57967;
 display:flex;

 
}
    
.botao{
    background-color:#A57967;
    color: white;
        height: 40px;
        margin-top: 15px;
        margin-left: 100px;
        border: 0px;
        font-size: 20px;
        
        
    }

 .setabotao{
    width: 10px;
    height: 15px;
    margin-top:30px;
 }   

.imagem{
    margin-top: 30px;
    width: 350px;
    height: 350px;
    padding-bottom: 100px;
   size: 20%;
   align-self: center;
   margin-left: 450px;
}

.logoinicio{
    width: 5vw;
    height: 10vh;
    margin-left: 30px;
    
    }


.seta{
 width: 40px;
 height: 50px;
 margin-left: 50%;
 margin-top: -50px;
}

.titulo{
    margin-top: 50px;
    width: 100%;
    height:100%;
    font-size: 35px;
    color: white;
    text-align: center;


}

.cabecalho p{
    width: 100%;
    height:100%;
    font-size: 20px;
    color: white;
    text-align: center; 
}

.cabecalho input{
    width: 100vw;
    height:5vh;
    align-items: center;
    text-align: center;
    display: flex;
   margin-left: 100px;
    gap: 20px;

}


.topicos{
    display: flex;
    font-size: 20px;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 60px;
    color: #3A633B;
    gap: 5%;
    margin-left: 90px;


}
.topicos h2{
    text-align: center;
    align-self: center;
}


.topicobotao{
    color:white;
    text-align: center;
    margin-left: 80px;
    height: 50px;
    background-color: #A57967;
    width: 50%;
    border-radius: 5px;

}

.topicos img{
    align-items: center;
    height: 180px;
    width: 180px;
    margin-left: 50px;
    }
    

.caixa{ 
    display: flex;
    align-items: center;
    margin-left: 25%;
    width: 50vw;
    height: 50px;
    gap: 20px;

}

.caixa button{
    background-color: #396d3a;
    color: white;
    width: 25VW;
    height: 7VH;
    border-radius: 5px;
}



.textoabaixo{
    margin-top: 50px;
    text-align: center;
    font-size: 80px ;
    color: #A57967;
   
}

.botaoabaixo{
    width: 30vw;
    height: 6vh;
    margin-top: 10%;
    margin-left: 25%;
    
    
    color: white;
    background-color: #396d3a;
    border-radius: 10px;
    

}

.menususpenso{
    display: flex;
    margin-bottom: 70px;
    
}

.menususpenso img{
    width: 50%;
    height: 65%;
    margin-left: 30px;
}

 .menususpenso p{
    font-size: 20px;
    color:whitesmoke;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 8%;
    width: 500px;
    margin-left: 110px;

 }   
 .menususpenso h2{
margin-top: 72px;
    font-size: 40px;
    color:#1e6757;
    margin-left: 25%;
    

 }

.color{
    background-color:#A57967 ;
    width: 60%;
    
    
}

.formulario{
    align-self: center;
    width: 390px;
    height: 100px;
    margin-left: 220px;
    


}

.formulario h3{
    color: #1e6757;
    margin-left: 15px;
}

.opcoesformulario{
    width: 300px;
    height: 50px;
}


.background{
    background-color: #A57967;
}

.depoimento{
    display: flex;
    margin-top: 60px ;
    margin-left: 15px;
    margin-bottom: 50px;
    margin-right: 15px;
    gap: 30px;


}

.depoimento img{
    width: 300px;
    margin-left: 35px;
}


.depoimento h2{
    text-align: center;
    font-size: 20px;
}

.depoimento p{
    text-align: center;
}




.menurodape{
    background-color: #A57967;
    display: flex;
    color: #3A633B;
    width: 100%;
    height: 300px;
    display: flex;
    padding-top: 30px;

}

.menurodape p{
width: 100px;
height: 25px;
margin-left: 300px;
font-size: 15px;
}


.menubaixo
{
    display: flex;
    background-color: #A57967;
    width: 100%;
    
}

.menubaixo img {
    width: 300px;
    height: 300px;
    margin-top: 25px;
    margin-left: 150px;
    margin-bottom: 20px;
    
    

}

.menubaixo input {
    width: 500px;
    height: 50px;
    margin-top: 10px;
    margin-left: 150px;
    text-align: center;
    
}

.menubaixo button{
    width: 100px;
    height: 50px;
    background-color: #3A633B;
    margin-top: 10px;
    margin-left: 15px;

}
.menubaixo h2{
    margin-left: 180px;
    padding-top: 60px;
    color: #396d3a;
    font-size: 35px;
}



.rodape{
    
    background-color: #3A633B;
    width: 100%;
    color: white;
    font-size: 16px;
    text-align: center;
    height: 70px;
    

    
    
}
.rodape img{
height: 50px;
width: 50px;

}
.rodape p{
    padding-top: 30px;
}

